.bbhouse-entry {
  height: 100%;
  width: 100%;
  padding-top: 40px;
  position: relative;
  box-sizing: border-box;
}

.bbhouse-entry-form {
  padding-left: 20px;
  padding-right: 20px;
}

.bbhouse-entry-title {
  text-align: center;
  font-size: 2em;
}

.bbhouse-entry-language-switcher {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  text-align: center;
}
.bbhouse-language-item {
  margin-right: 10px;
  &.bbhouse-language-highlight {
    color: var(--adm-color-primary);
  }
  &:last-child {
    margin-right: 0;
  }
}
