.peppa-tab-bar {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.peppa-tab-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}